/* General layout adjustments */
body {
  min-height: 100vh;
  min-width: 100vh;
  background: linear-gradient(135deg, #1C7C7D, #1854A0, #35104E);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  font-size: 40px;   
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(90deg,  #73b9ee, #cbd4fd); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  animation: bounce 1s; 
}


.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 12px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: auto;
}


.card {
  height: 120px;
  width: 100px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}


.front-image {
  width: 80px; 
  height: 80px; 
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}


.card .back {
  background-image: url("./assets/cardd.png");
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}


.actions, p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.actions button {
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.15); 
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

.actions button:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2); 
}


.actions button:active {
    transform: translateY(1px);
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}
